.App {
  /* text-align: center; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.section-white {
	background: #fff;
	padding: 70px 0;
}
.section-title:hover{
  background: #3956de;
	color:snow;
  width:auto;
  border-radius: 20px;
}
.section-subtitle:hover{
  background: #3956de;
	color: snow;
  width: auto;
  border-radius: 20px;
}
.team-item{
	background: #f4f5f6;
	text-align:center;
	margin:20px 0;
	padding:50px 20px 40px 20px; 
	border-radius: 8px 8px;
	
}

.team-item:hover{
	background: #3956de;
	color: white;
}

.team-item h3{
	margin:20px 0 1px 0!important;
	color:#454545;
	font-size:18px;
	font-weight: 700;
	text-transform:uppercase;
	/* transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-webkit-transition: all .25s ease-in-out; */
}

.section-subtitle {
	white-space: pre-line;
 }

.team-item:hover h3{
	color:#ddd;
}

.team-info {
	display: block;
	margin-bottom:0;
}

.team-info p{
	color:#acacac;
	font-style:italic;
}

.team-img{
	max-width: 140px;
	padding: 6px 6px;
    background-color: #dedede;
	/* -webkit-border-radius: 50%;
	-moz-border-radius: 50%; */
	border-radius: 50%;
}
